.git
.gitignore
.github

.env*
!.env.example

node_modules
dist

**/*.log
**/*.md
!README.md

docker-compose*.yml
Dockerfile*
.dockerignore

coverage
.nyc_output
test
tests
**/*.spec.ts
**/*.test.ts
**/*.e2e-spec.ts

.vscode
.idea
*.swp

scripts/
caddy/
monitoring/
